
// Mixins
// --------------------------------------------------

// Box sizing todo
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// Layout
@import "mixins/clearfix";
@import "mixins/grid-framework";
@import "mixins/grid";





