@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections

.top-wrap {
  min-height: 480px;
  background-color: $color-dark-blue;
}
.top-bg {
  margin-bottom: 30px;
}
.video-wrap {
  position: relative;
  width: 280px;
  margin: 0 auto;
  height: calc(280px / 16 * 9);
  overflow: hidden;
  padding: 0 20px;
}







