@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections

html,
body {
  height: 100%;
}
main {
  position: relative;
  min-height: 100%;
  background-color: rgb(random(155), random(155), random(155));
  &:before {
    content: "default";
    @include pos(absolute, center, center);
    color: $color-white;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}
@include xmob {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xmob (min-width: 375px)";
    }
  }
}
@include xxmob {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xxmob (min-width: 414px)";
    }
  }
}
@include xxxmob {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xxxmob (min-width: 640px)";
    }
  }
}
@include mob-landscape {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "mob-landscape (min-width: 480px) and (orientation: landscape)";
    }
  }
}
@include xmob-landscape {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xmob-landscape (min-width: 568px) and (orientation: landscape)";
    }
  }
}
@include xxmob-landscape {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xxmob-landscape (min-width: 667px) and (orientation: landscape)";
    }
  }
}
@include xxxmob-landscape {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xxxmob-landscape (min-width: 736px) and (orientation: landscape)";
    }
  }
}
@include tab {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "tab (min-width: 768px)";
    }
  }
}
@include xtab {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xtab (min-width: 768px) and (orientation: landscape)";
    }
  }
}
@include lap {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "lap (min-width: 1280px)";
    }
  }
}
@include xlap {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xlap (min-width: 1440px)";
    }
  }
}
@include desk {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "desk (min-width: 1600px)";
    }
  }
}
@include xdesk {
  main {
    background-color: rgb(random(155), random(155), random(155));
    &:before {
      content: "xdesk (min-width: 2560px)";
    }
  }
}