@import "libs/libs";
//sections
@import "sections/style-guide";
@import "sections/animations";
@import "sections/font-face";
@import "sections/header";
@import "sections/footer";
@import "sections/wp-styles";

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 998px;
  margin: 0 auto;
  overflow: hidden;
}
.logo {
  display: block;
  width: 95px;
  height: 19px;
  @include bg(left, center, contain);
}
.top-bg {
  height: 50vh;
  @include bg(center, center, cover);
}
.social-links {
  ul {
    @include inlined();
  }
  li {
    display: inline-block;
    margin: 0 11px 5px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba($color-white, .5);
    @include bg(center, center, 60%);
  }
}
@include mob-landscape {
  .top-bg {
    height: 100vh;
  }
;
}
.no-dev {
  .social-links {
    a {
      transition: background-color .3s ease;
      &:hover {
        background-color: $color-light-blue;
      }
    }
  }
}