@import '_core/core';
@import "libs/libs";
//sections
@import "sections/wp-styles";
@import "sections/style-guide";
@import "sections/animations";
@import "sections/font-face";
@import "sections/header";
@import "sections/footer";
//

.no-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main {
  @include flex(column);
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 100vh;
  height: 100%;
}

.header_,
.footer_ {
  flex-shrink: 0;
}

.page-wrap {
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
}