.footer_ {
  padding: 70px 60px 15px;
  background-color: $color-black;
  border-top: 3px solid $color-light-blue;
  color: $color-white;
  .contact-info {
    font: 14px/18px $font-proxima-medium;
  }
  .logo {
    margin-bottom: 20px;
  }
  a {
    color: $color-white;
  }
  address {
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
    }
  }
  .contacts {
    margin-bottom: 20px;
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
  .social-links {
    margin-bottom: 20px;
  }
  .footer-nav {
    display: none;
  }
  .copy {
    font: 14px/18px $font-proxima-regular;
    color: $color-gray;
    clear: both;
  }
}
.no-dev {
  .footer_ {
    overflow: hidden;
    .contact-info {
      float: left;
    }
    .footer-nav {
      display: block;
      width: 75%;
      float: right;
      li {
        display: inline-block;
        width: 33%;
      }
    }
  }
}
