.footer_ {
  padding: 30px 20px 15px;
  background-color: $color-black;
  border-top: 3px solid $color-light-blue;
  color: $color-white;
  .contact-info {
    width: 200px;
    font: 14px/18px $font-proxima-medium;
    a {
      color: $color-white;
    }
  }
  .logo {
    margin-bottom: 24px;
  }
  address {
    margin-bottom: 20px;
    p {
      margin-bottom: 10px;
    }
  }
  .contacts {
    margin-bottom: 20px;
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
  .social-links {
    margin-bottom: 20px;
  }
  .footer-nav {
    display: none;
    a {
      color: $color-white;
    }
  }
  .copy {
    font: 14px/18px $font-proxima-regular;
    color: $color-gray;
    clear: both;
  }
  .request-btn {
    display: none;
  }
}
.no-dev {
  .footer_ {
    padding: 40px 0 20px;
    .footer-wrap {
      @include flex(row, space-between);
      margin-bottom: 12px;
    }
    .contact-info {
      flex-shrink: 0;
      margin-right: 100px;
      a {
        transition: color .3s ease;
        &:hover {
          color: $color-light-blue;
        }
      }
    }
    address {
      margin-bottom: 14px;
    }
    address p,
    .contacts a {
      margin-bottom: 0;
    }
    .footer-nav {
      display: block;
      li {
        display: inline-block;
        vertical-align: top;
        width: 32%;
        a {
          display: inline-block;
          padding: 5px 3px;
          transition: color .3s ease;
          &:hover {
            color: $color-light-blue;
          }
        }
      }
    }
    .request-btn {
      display: block;
      flex-shrink: 0;
    }
  }
}
