// Default WP Styles

.content {
  font: 12px/20px 'open_sansregular', sans-serif;
  .buttons {
    padding: 20px;
    background-color: $color-dark-gray;
  }
  p {
    margin-bottom: 10px;
    a {
      color: $color-dark-gray;
      transition: color .3s ease;
      &:hover {
        color: $color-green;
      }
    }
  }
  ul,
  ol {
    margin-bottom: 15px;
    ul,
    ol {
      list-style: none;
      color: $color-dark-gray;
      padding: 5px 0 0 20px;
    }
  }
  ul {
    li {
      line-height: 26px;
      margin-bottom: 5px;
      padding-left: 10px;
      position: relative;
      &:before {
        @include pos(absolute, 0, 0);
        content: '\2022';
        font: 16px/22px 'Montserrat-Regular', sans-serif;
      }
    }
  }
  ol {
    counter-reset: section;
    li {
      &:before {
        content: counter(section) '.';
        counter-increment: section;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  blockquote {
    margin-bottom: 10px;
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
  img {
    height: auto;
    width: 100%;
    &.alignright {
      float: right;
      margin: 0 0 1em 1em;
    }
    &.alignleft {
      float: left;
      margin: 0 1em 1em 0;
    }
    &.aligncenter {
      display: block;
      margin: 0 auto 1em;
    }
  }
  .alignright {
    float: right;
  }
  .alignleft {
    float: left;
  }
  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    display: block;
    margin: 0 auto 1em;
    width: 100%;
  }
}

@include tab {
  .content {
    img,
    iframe {
      width: 50%;
    }
  }
}

@include lap {
  .content {
    font-size: 14px;
    line-height: 26px;
    ul,
    ol {
      margin-bottom: 20px;
      ul,
      ol {
        padding: 10px 0 0 20px;
      }
    }
  }
}

@include desk {
  .content {
    img,
    iframe {
      width: 33.33%;
    }
  }
}