<div class="container">
    <div class="row">
        <div class="mob-12 col"><div class="cell">mob-12</div></div>
    </div>
    <div class="row">
        <div class="mob-6 col"><div class="cell">mob-6</div></div>
        <div class="mob-6 col"><div class="cell">mob-6</div></div>
    </div>
    <div class="row">
        <div class="mob-4 col"><div class="cell">mob-4</div></div>
        <div class="mob-4 col"><div class="cell">mob-4</div></div>
        <div class="mob-4 col"><div class="cell">mob-4</div></div>
    </div>
    <div class="row">
        <div class="mob-3 col"><div class="cell">mob-3</div></div>
        <div class="mob-3 col"><div class="cell">mob-3</div></div>
        <div class="mob-3 col"><div class="cell">mob-3</div></div>
        <div class="mob-3 col"><div class="cell">mob-3</div></div>
    </div>
    <div class="row">
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
        <div class="mob-2 col"><div class="cell">mob-2</div></div>
    </div>
    <div class="row">
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
        <div class="mob-1 col"><div class="cell">mob-1</div></div>
    </div>
    <hr/>
    <div class="row">
        <div class="mob-1 mob-offset-11 col"><div class="cell">offset-11</div></div>
        <div class="mob-2 mob-offset-10 col"><div class="cell">offset-10</div></div>
        <div class="mob-3 mob-offset-9 col"><div class="cell">offset-9</div></div>
        <div class="mob-4 mob-offset-8 col"><div class="cell">offset-8</div></div>
        <div class="mob-5 mob-offset-7 col"><div class="cell">offset-7</div></div>
        <div class="mob-6 mob-offset-6 col"><div class="cell">offset-6</div></div>
        <div class="mob-7 mob-offset-5 col"><div class="cell">offset-5</div></div>
        <div class="mob-8 mob-offset-4 col"><div class="cell">offset-4</div></div>
        <div class="mob-9 mob-offset-3 col"><div class="cell">offset-3</div></div>
        <div class="mob-10 mob-offset-2 col"><div class="cell">offset-2</div></div>
        <div class="mob-11 mob-offset-1 col"><div class="cell">offset-1</div></div>
    </div>
    <hr/>
    <div class="row">
        <div class="mob-5 col"><div class="cell">mob-5</div></div>
        <div class="mob-7 col"><div class="cell">mob-7</div></div>
    </div>
    <div class="row">
        <div class="mob-5 mob-push-7 col"><div class="cell">mob-5 mob-push-7</div></div>
        <div class="mob-7 mob-pull-5 col"><div class="cell">mob-7 mob-pull-5</div></div>
    </div>
    <hr/>
    <div class="row">
        <div class="mob-6 xmob-centered xxmob-uncentered tab-centered lap-uncentered desk-centered xdesk-uncentered xxdesk-centered col"><div class="cell">centered/uncentered</div></div>
    </div>
    <hr/>
    <div class="row">
        <div class="mob-12 col">
            <div class="cell">
                <div class="row">
                    <div class="mob-8 mob-centered col">
                        <div class="level-2">
                            <div class="row">
                                <div class="mob-4 mob-centered col">
                                    <div class="level-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>