<header class="header_">
	<div class="container">
		<strong class="logo" style="background-image: url('svg/logo.svg');"><a href="index.html"></a></strong>
		<div class="menu-btn"><span></span></div>
		<nav class="main-nav">
			<ul class="mobile-nav">
				<li><a href="javscript:void(0)">RECORDS MANAGEMENT SYSTEM</a></li>
				<li><a href="javscript:void(0)">COMPUTER AIDED DISPATCH</a></li>
				<li><a href="javscript:void(0)">FEATURE PAGE 1</a></li>
				<li><a href="javscript:void(0)">FEATURE PAGE 2</a></li>
				<li><a href="javscript:void(0)">PRICING</a></li>
				<li class="active"><a href="javscript:void(0)">ABOUT US</a></li>
				<li><a href="javscript:void(0)">EVENTS</a></li>
				<li><a href="javscript:void(0)">WEBINARS</a></li>
				<li><a href="javscript:void(0)">THE BLOG</a></li>
				<li><a href="javscript:void(0)">CAREERS</a></li>
				<li><a href="javscript:void(0)">TERMS</a></li>
				<li><a href="javscript:void(0)">PRIVACY POLICY</a></li>
			</ul>
			<a href="javascript:void(0)" class="btn request-btn">REQUEST A DEMO</a>
			<ul class="desktop-nav">
				<li><a href="javascript:void(0)">rms</a></li>
				<li><a href="javascript:void(0)">cad</a></li>
				<li class="active"><a href="javascript:void(0)">about</a></li>
				<li><a href="javascript:void(0)">pinpoint</a></li>
			</ul>
		</nav>
	</div>
</header>
