<header class="header_">
	<div class="header-top-panel">
    <div class="container">
      <div class="header-banner">
        <p><span class="banner-head">Summer sale: </span><span
            class="banner-description">Enjoy Up to 50% off Select Styles.</span><a href="javascript:void(0)"
                                                                                   class="secondary-btn">See Details</a>
        </p>
      </div>
      <a href="javascript:void(0)" class="logo"><img src="svg/logo-light.svg" alt=""></a>
      <span class="menu-btn"></span>
      <div class="header-controls">

      </div>
    </div>
  </div>
  <div class="mobile-navigation">
    <div class="search">
      <button class="search-btn">Search</button>
      <input type="search" name="search">
    </div>
    <ul>
      <li><a href="javascript:void(0)">Shop</a></li>
      <li><a href="javascript:void(0)">New Arrivals</a></li>
      <li><a href="javascript:void(0)">Sale</a></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Shop</a></li>
      <li><a href="javascript:void(0)">New Arrivals</a></li>
      <li><a href="javascript:void(0)">Sale</a></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
    </ul>
  </div>
  <div class="header-content">
    <a href="javascript:void(0)" class="icon-btn account-btn">Account button</a>
    <a href="javascript:void(0)" class="logo"><img src="svg/logo.svg" alt=""></a>
    <a href="javascript:void(0)" class="icon-btn cart-btn">Cart button</a>
  </div>
</header>
